@model front_back.Models.Alimento

@{
    ViewData["Title"] = "Create";
}

<h1>Criar alimento</h1>

<h4>Alimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlimentoId" class="control-label"></label>
                <input asp-for="AlimentoId" class="form-control" />
                <span asp-validation-for="AlimentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alimentos" class="control-label"></label>
                <input asp-for="Alimentos" class="form-control" />
                <span asp-validation-for="Alimentos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control" asp-items="Html.GetEnumSelectList<Categoria>()"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <!-- Novos atributos -->
            <div class="form-group">
                <label asp-for="Consumo" class="control-label"></label>
                <input asp-for="Consumo" class="form-control" />
                <span asp-validation-for="Consumo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Validade" class="control-label"></label>
                <input asp-for="Validade" class="form-control" />
                <span asp-validation-for="Validade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DespensaId" class="control-label"></label>
                <input asp-for="DespensaId" class="form-control" />
                <span asp-validation-for="DespensaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="Index">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
