@{
    ViewData["Title"] = "Home Page";
}


<section>
    <div class="container">
        <div class="text-content">
            <div class="headline">Cadastre.</div>
            <div class="headline">Planeje.</div>
            <div class="headline">Organize-se.</div>
            <div class="subtitulo">Com uma ajudinha da Zappa.</div>
        </div>
        <img src="/Imagens/hero.png" class="hero-image" />
    </div>
    <div class="submenu">
        <button type="button" class="btn btn-secondary">Cadastre alimentos</button>
        <button type="button" class="btn btn-secondary">Edite alimentos</button>
        <button type="button" class="btn btn-secondary">Despensa alimentos</button>
    </div>
    <div class="imagemgrande">
        <img src="/Imagens/imagem_grande.png" />
    </div>
</section>



<script src="script.js"></script>