@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="headline">Cadastre. Planeje. Organize-se.</div>
    <div class="subtitulo">Com uma ajudinha da Zappa.</div>
    <div class="imagem">
        <img src="/Imagens/hero.png" />
    </div>
</div>
<div class="submenu">
    <button class="cadastrealimentos">Cadastre alimentos</button>
    <button class="editealimentos">Edite alimentos</button>
    <button class="despensaalimentos">Despensa alimentos</button>
</div>





<footer>
    <div class="footer-content">
        <img src="../../docs/img/zappa.png" alt="">
        <ul class="contribuintes">
            <p>Equipe</p>
            <br>
            <li><a href="mailto:1520585@sga.pucminas.br" target="_blank">1520585@sga.pucminas.br</a></li>
            <li><a href="mailto:1522391@sga.pucminas.br" target="_blank">1522391@sga.pucminas.br</a></li>
            <li><a href="mailto:1472692@sga.pucminas.br" target="_blank">1472692@sga.pucminas.br</a></li>
            <li><a href="mailto:1471696@sga.pucminas.br" target="_blank">1471696@sga.pucminas.br</a></li>
        </ul>
    </div>
    <p class="footer-text">&copy; 2024 Zappa, Inc.</p><br>
</footer>

<script src="script.js"></script>