@{
    ViewData["Title"] = "Home Page";
}


<section>
    <div class="container">
        <div class="headline">Cadastre.</div>
        <div class="headline">Planeje.</div>
        <div class="headline">Organize-se.</div>
        <div class="subtitulo">Com uma ajudinha da Zappa.</div>
     </div>
    <img src="/Imagens/hero.png" class="hero-image" />
    <div class="submenu">
        <button class="cadastrealimentos">Cadastre alimentos</button>
        <button class="editealimentos">Edite alimentos</button>
        <button class="despensaalimentos">Despensa alimentos</button>
     </div>
    <div class="imagemgrande">
        <img src="/Imagens/imagem_grande.png"/>
    </div>
</section>



<script src="script.js"></script>